/*Login page*/
.login-body{
    position: fixed;
    width: 100%;
    height: 100%;
    line-height: 100%;
    background: cadetblue;
}
.login-logo {
    text-align: center;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    margin-bottom: 24px;
}
.login-logo img {
    width: 30px;
    margin-right: 8px;
}
.login-logo span {
    vertical-align: text-bottom;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
}

.login-form-cont{
    position: relative;
    width: 300px;
    margin: auto;
    top: 30%;
    padding: 15px;
    background: aliceblue;
    border-radius: 10px;
}

/*Layout View*/
.layout-header{
    position: fixed;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: cadetblue;
    font-size: 18px;
    color: white;
    text-align: center;
    z-index: 2;
}
.layout-body{
    padding: 50px 0;
}
.layout-footer{
    position: fixed;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    width: 100%;
    background-color: cadetblue;
    z-index: 2;
}
.nav-item{
    height: 50px;
    line-height: 50px;
    width: auto;
    font-size: 18px;
}
.nav-item a{
    color: white;
}
.layout-header-menu {
    float: right;
    line-height: 45px;
    text-align: center;
}
.menu-cadetblue{
    border-bottom: 0;
    background: cadetblue;
    margin-top: -50px;
}

/*Dashboard*/
.list-view{
    /*line-height: 90px;*/
}
.list-view li{
    display: flex;
    text-align: center;
    justify-content: space-between;
    height: 90px;
    max-height: 90px;
    margin: 2px 0;
    background-color: #fff3cf;
}
.list-view li div{
    margin: auto 0;
    width: 30%;
}
.chatbot-view{
    height: 100px;
    background-color: lightgray;
}

/*About*/
.language-view{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 50px;
    background-color: #eeeeee;
}
.language-view label,
.language-view span {
    margin: auto 0;
}