.login-body{
    position: fixed;
    width: 100%;
    height: 100%;
    line-height: 100%;
    background: cadetblue;
}
.login-logo {
    text-align: center;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    margin-bottom: 24px;
}
.login-logo img {
    width: 30px;
    margin-right: 8px;
}
.login-logo span {
    vertical-align: text-bottom;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
}

.login-form-cont{
    position: relative;
    width: 300px;
    margin: auto;
    top: 30%;
    padding: 15px;
    background: aliceblue;
    border-radius: 10px;
}
.layout-header{
    position: fixed;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: cadetblue;
    font-size: 18px;
    color: white;
    text-align: center;
}
.layout-body{
    padding: 50px 5px;
}
.layout-footer{
    position: fixed;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    width: 100%;
    background-color: cadetblue;
}
.nav-item{
    height: 50px;
    line-height: 50px;
    width: auto;
    font-size: 18px;
}
.nav-item a{
    color: white;
}
.layout-header-menu {
    float: right;
    line-height: 45px;
    text-align: center;
}
.menu-cadetblue{
    border-bottom: 0;
    background: cadetblue;
}